body{
  margin: 0px;
  background-color: #e8e8e8;
}
.nx-main{
background-color: rgb(255, 255, 255); 
}
header{
  height: 107px;
  background-color: #9933cc ;
  border: 1px dashed #0000;
}
main{
  min-height: 550px;  
  background-color: #ffffff;
  border: 1px dashed #0000;
}
footer{
  height: 65px;
  background-color: #0099cc;
  border: 1px dashed #0000;

}